body {
	background-color: rgba(39, 51, 48, 0.918);
	color: rgb(255, 255, 255);
}

.small>h2 {
	margin: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 60px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateY(-26px);
	-ms-transform: translateY(-26px);
	transform: translateY(-26px);
}

.flex-container-big {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
	margin-top: 25px;
	margin-left: 25px;
}

.flex-container-big>img {
	margin-top: 6px;
	margin-bottom: 6px;
	height: 100px;
	width: 60px;
}

.flex-containers-big {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 50px;
}

.flex-container-small {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22.5%;
	margin-left: 2.5%;
}

.flex-container-small>a {
	font-size: 75%;
	margin-bottom: 12px;
}

.flex-container-small>img {
	margin-top: 6px;
	margin-bottom: 6px;
	height: 7.5vh;
	width: 4.5vh;
}

.flex-containers-small {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2.5%;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.debug {
	position: fixed;
	bottom: 2.5%;
	right: 0px;
}

.editable {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  text-shadow: 0 0 1px white;
  cursor: pointer;
  transition: background 0.2s ease;
  color: #333;
}

.editable:hover {
  background: rgba(255, 255, 255, 0.5);
}

.editable:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px #ccc;
  cursor: text;
}
