_*
*.pyc
**/__pycache__
.env
*.code-workspace
autoryzowane*
authorized*
*.pickle
.vscode
target
secrets*
heating_chart.json
.pio
credentials*
kiczora
chrobacz
turbacz_app
turbacz/wifiLightButton/plain_passwords
connections.json
*.bin
Czupel.egg-info