body {
	background-color: rgba(39, 51, 48, 0.918);
	color: rgb(255, 255, 255);
}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
}