body {
	background-color: rgba(39, 51, 48, 0.918);
	color: rgb(255, 255, 255);
}


.block {
	display: block;
	width: 100%;
	border: none;
	background-color: rgba(46, 65, 60, 0.918);
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	color: rgb(255, 255, 255);
}