body {
	background-color: rgba(39, 51, 48, 0.918);
	color: rgb(255, 255, 255);
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 60px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateY(-26px);
	-ms-transform: translateY(-26px);
	transform: translateY(-26px);
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
	margin-top: 25px;
	margin-left: 25px;
}

.flex-container>img {
	margin-top: 12px;
	height: 100px;
	width: 60;
}

.flex-containers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 50px;
}

.flex-containers>h2 {
	margin: 0;
	margin-top: 0;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.debug {
	position: fixed;
	bottom: 50px;
	right: 50px;
}